#formdiv {
  width: 50%;
  background-color: green;
  padding: 7%;
  margin: 100px auto;
  background-color: #DDD92A;
  border-radius: 1em;
}

#title {
  text-align: center;
}

.submit > #submitB {
  background-color: black;
  margin: 0 auto;
}
