#formdiv {
  width: 50%;
  background-color: green;
  padding: 7%;
  margin: 130px auto;
  background-color: #DDD92A;
  border-radius: 30em;
}

#title {
  text-align: center;
}

#submitB {
  margin: 0 auto;
}
