<div id="navbar" class="ui secondary pointing menu fixed">
  <div class="ui container">
    <a ui-sref="home" class="item">SKE REGIST</a>
    <!-- <a href="#" class="item">Enroll</a> -->
    <a ui-sref="list" class="item">Courses</a>
    <a ui-sref="dashboardNav" class="item active">My Courses</a>
  </div>
</div>

<div id="enrollStep">
  <div id="content" class="ui container">
    <h2 class="ui header">
      <i class="add user icon"></i>
      <div class="content">
        Comfirm New Enfollment
      </div>
    </h2>
    <br>

    <div class="ui two column centered grid" id="stepGrid">
      <div class="ui ordered steps">
        <div class="completed step">
          <div class="content">
            <div class="title">Select</div>
            <div class="description">Select a course you want</div>
          </div>
        </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Enroll</div>
            <div class="description">Fill information to enroll a course</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Confirm</div>
            <div class="description">Verify enrollment details</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="ui container">
  <button class="fluid ui teal button" ui-sref="home">Continue enroll</button>
  <br>
  <button class="fluid ui button" ng-click="confCtrl.removeAllCourse()">Remove all courses</button>
  <br><br>
  <div class="ui four stackable cards">
    <div class="card" ng-repeat="course in confCtrl.mycourses">
      <div class="content">
        <div class="header">{{course.id}}</div>
        <div class="meta">credit</div>
        <div class="description">
          {{course.name.en}}
        </div>
      </div>
      <div class="ui bottom attached button" ng-click="confCtrl.removeCourse(course.id)">
        <i class="trash outline icon"></i>
        Remove
      </div>
    </div>
  </div><br><br>
  <button class="fluid ui button" ui-sref="dashboardNav" ng-click="confCtrl.confirmEnroll()">Confirm the enrollment</button>
</div>
