<div id="navbar" class="ui secondary pointing menu fixed">
  <div class="ui container">
    <a ui-sref="home" class="item"><i class="add user icon"></i>SKE REGIST</a>
    <!-- <a href="#" class="item">Enroll</a> -->
    <a ui-sref="list" class="item">Courses</a>
    <a ui-sref="dashboardNav" class="item active">My Courses</a>
  </div>
  <div class="right menu">
    <div class="ui avatar image" style="padding: 0;">
      <img src="../assets/images/joe.jpg">
    </div>
    <div class="item">student : {{repCtrl.studentID}}</div>
    <a ui-sref="login" class="item">Log Out</a>
  </div>
</div>

<div id="enrollStep">
  <div id="content" class="ui container">
    <h1 class="ui header">
      <i class="add user icon"></i>
      <div class="content">
        Successful enrollment
      </div>
    </h1>
    <br>

    <div class="ui two column centered grid" id="stepGrid">
      <div class="ui ordered steps">
        <div class="completed step">
          <div class="content">
            <div class="title">Select</div>
            <div class="description">Select a course you want</div>
          </div>
        </div>
        <div class="completed step">
          <div class="content">
            <div class="title">Enroll</div>
            <div class="description">Fill information to enroll a course</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Report</div>
            <div class="description">Enrollment report</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="ui container">
  <h2 class="subheader">New entry</h2>
  <br>
  <div class="ui four stackable cards">
    <div class="card" ng-repeat="course in repCtrl.myNewcourses">
      <div class="content">
        <div class="header">{{course.id}}</div>
        <div class="meta">credit</div>
        <div class="description">
          {{course.name.en}}
        </div>
      </div>
    </div>
  </div><br><br>
  <button class="ui teal button" ui-sref="home" ng-click="repCtrl.clearNewEntry()"><i class="home icon"></i>Home</button>

  <div class="ui divider"></div>
</div>

<div id="content" class="ui container">
  <h2 class="subheader">Course enrollment report</h2>
  <br>
  <div class="ui four stackable cards">
    <div class="card" ng-repeat="course in repCtrl.mycourses">
      <div class="content">
        <div class="header">{{course.id}}</div>
        <div class="meta">credit</div>
        <div class="description">
          {{course.name.en}}
        </div>
      </div>
      <div class="ui bottom attached button" ng-click="repCtrl.dropCourse(course.id)">
        <i class="trash outline icon"></i>
        Drop
      </div>
    </div>
  </div>
</div>
