<div id="navbar" class="ui secondary pointing menu fixed">
  <div class="ui container">
    <a ui-sref="home" class="item">SKE REGIST</a>
    <!-- <a href="#" class="item">Enroll</a> -->
    <a ui-sref="list" class="item">Courses</a>
    <a ui-sref="dashboardNav" class="item active">My Courses</a>
  </div>
</div>

<div id="content" class="ui container">
  <h2 class="ui header">
    <i class="add user icon"></i>
    <div class="content">
      Enroll Report
    </div>
  </h2>

  <div class="ui four stackable cards">
    <div class="card" ng-repeat="course in dashCtrl.mycourses">
      <div class="content">
        <div class="header">{{course.id}}</div>
        <div class="meta">credit</div>
        <div class="description">
          {{course.name.en}}
        </div>
      </div>
      <div class="ui bottom attached button" ng-click="nrollCtrl.dropCourse()">
        <i class="trash outline icon"></i>
        Drop
      </div>
    </div>
  </div>
</div>
