<div id="enrollbody">
<div id="navbar" class="ui secondary pointing menu fixed">
  <div class="ui container">
    <a ui-sref="home" class="active item"><i class="add user icon"></i>SKE REGIST</a>
    <a ui-sref="list" class="item">Courses</a>
    <a ui-sref="dashboardNav" class="item">My Courses</a>
  </div>
  <div class="right menu">
    <div class="ui avatar image" style="padding: 0;">
      <img src="assets/images/joe.jpg">
    </div>
    <div class="item">student : {{nrollCtrl.studentID}}</div>
    <a ui-sref="login" class="item">Log Out</a>
  </div>
</div>

<div id="enrollStep">
  <div id="content" class="ui container">

    <h2 class="ui header">
      <i class="add user icon"></i>
      <div class="content">
        Course Description
      </div>
    </h2>
    <br>

    <div class="ui two column centered grid" id="stepGrid">
      <div class="ui ordered steps">
        <div class="completed step">
          <div class="content">
            <div class="title">Select</div>
            <div class="description">Select a course</div>
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Confirm</div>
            <div class="description">Enrollment Confirmation</div>
          </div>
        </div>
        <div class="step">
          <div class="content">
            <div class="title">Report</div>
            <div class="description">Enrollment report</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content" class="ui container">
    <h1 id="coursename" class="ui header">{{nrollCtrl.course.id}} - {{nrollCtrl.course.name.en}}</h1>
    <table class="ui olive table">
      <thead>
        <tr><th>Title</th>
          <th>Description</th>
        </tr></thead><tbody>
          <tr>
            <td>Course ID</td>
            <td>{{nrollCtrl.course.id}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{nrollCtrl.course.description.en}}</td>
          </tr>
          <tr>
            <td>Credit</td>
            <td>{{nrollCtrl.course.credit.total}} ({{nrollCtrl.course.credit.lecture}} - {{nrollCtrl.course.credit.lab}} - {{nrollCtrl.course.credit.self}})</td>
          </tr>
          <tr>
            <td>Prerequisite</td>
            <td><div ng-repeat="pre in nrollCtrl.course.prereq">{{pre.id}}</div></td>
          </tr>
          <!-- <tr>
            <td>Sections</td>
            <td><div ng-repeat="sec in nrollCtrl.course.sections">{{sec.location}}</td>
          </tr> -->
        </tbody>
      </table>
    <br><br><br>
    <div class="ui centered grid">
      <div class="column"></div>
      <div class="large ui buttons">
        <a ui-sref="home">
          <button class="ui button twin">Cancel</button>
        </a>
        <div class="or"></div>
        <a ui-sref="report">
          <button class="ui positive button active twin" type="submit" ng-click="nrollCtrl.addCourse()">Enroll this course</button>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
