<div ng-controller="enrollController as nrollCtrl">
  <div id="navbar" class="ui secondary pointing menu fixed">
    <div class="ui container">
      <a ui-sref="home" class="item">SKE REGIST</a>
      <a href="#" class="item active">Enroll</a>
      <a ui-sref="list" class="item">Courses</a>
    </div>
  </div>

  <div id="enroll">
    <div id="content" class="ui container">
      <div class="ui two column centered grid" id="stepGrid">
        <div class="ui ordered steps">
          <div class="completed step">
            <div class="content">
              <div class="title">Select</div>
              <div class="description">Select a course you want</div>
            </div>
          </div>
          <div class="active step">
            <div class="content">
              <div class="title">Enroll</div>
              <div class="description">Fill information to enroll a course</div>
            </div>
          </div>
          <div class="step">
            <div class="content">
              <div class="title">Confirm</div>
              <div class="description">Verify enrollment details</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{nrollCtrl.course.id}}<br>
    {{nrollCtrl.course.name.en}}<br>
    {{nrollCtrl.course.description.en}}<br>


</div>
