<div id="navbar" class="ui secondary pointing menu fixed">
  <div class="ui container">
    <a ui-sref="home" class="item active">SKE REGIST</a>
    <!-- <a ui-sref="home" class="item">Enroll</a> -->
    <a ui-sref="list" class="item">Courses</a>
    <a ui-sref="dashboardNav" class="item">My Courses</a>
  </div>
</div>

<div id="headContent">
  <div id="content" class="ui container">
    <h1 class="ui center aligned icon header" id="intro">
      <i class="circular book icon"></i>
      SKE Course Enrollment
    </h1>
  </div>
</div>

<div id="enrolll">
  <div id="content" class="ui container">
    <div class="ui two column centered grid" id="stepGrid">
      <div class="ui ordered steps">
        <div class="active step">
          <div class="content">
            <div class="title">Select</div>
            <div class="description">Select a course you want</div>
          </div>
        </div>
        <div class="step">
          <div class="content">
            <div class="title">Enroll</div>
            <div class="description">Fill information to enroll a course</div>
          </div>
        </div>
        <div class="step">
          <div class="content">
            <div class="title">Confirm</div>
            <div class="description">Verify enrollment details</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content" class="ui container">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search course" ng-model="search">
          <i class="search icon"></i>
        </div>
        <div class="ui olive clearing segment" ng-repeat="course in homeCtrl.courses | filter:search">
          <div >
            <p>{{course.id}} : {{course.name.en}}</p>
            <a ui-sref="enroll({courseID: course.id})">
              <button class="ui olive right floated button" type="submit" ng-disabled="homeCtrl.isEnrolled(course.id)">enroll</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
