<div id="listBody">
  <div id="navbar" class="ui secondary pointing menu fixed">
    <div class="ui container">
      <a ui-sref="home" class="item">SKE REGIST</a>
      <!-- <a ui-sref="home" class="item">Enroll</a> -->
      <a href="#" class="item active">Courses</a>
      <a ui-sref="dashboardNav" class="item">My Courses</a>
    </div>
    <div class="right menu">
      <div class="item">student : {{listCtrl.studentID}}</div>
    </div>
  </div>
  <div id="content" class="ui container">
    <h2 class="ui header">
      <i class="add user icon"></i>
      <div class="content">
        All Courses
      </div>
    </h2>

    <div class="ui four stackable cards">
      <div class="card" ng-repeat="course in listCtrl.detail">
        <div class="content">
          <div id="listHeader" class="header">{{course.name}}</div>
          <div class="meta">{{course.id}}</div>
          <div class="description">
            <p>{{course.description}}</p>
          </div>
        </div>
        <div class="extra content">
          <p>credit<br>
          <em>self : {{course.credit.self}} lab : {{course.credit.lab}} total : {{course.credit.total}} lecture : {{course.credit.lecture}}</em></p>
        </div>
      </div>
    </div>
  </div>
</div>
