<div id="loginBody">
  <div id="navbar" class="ui secondary pointing menu fixed">
    <div class="ui container">
      <a class="item active"><i class="add user icon"></i>SKE REGIST</a>
    </div>
  </div>

  <div id="content" class="ui container">
    <div id="formdiv">
      <h1 id="title" style="font-size: 50px">Login</h2><br>
      <form class="ui form" name="form">
        <div class="field">
          <label>Student ID</label>
          <span ng-show="!form.stdid.$valid" style="color: red;">*Student ID is required</span>
          <input type="text" name="stdid" placeholder="Enter Student ID" ng-model="loginCtrl.studentID" required/>
        </div>
        <div class="field">
          <label>Password</label>
          <span ng-show="!form.password.$valid" style="color: red;">*Student ID is required</span>
          <input type="password" name="password" placeholder="Enter Password" ng-model="loginCtrl.password" required/>
        </div>
        <div class="submit">
          <button id="submitB" class="fluid ui grey button" type="submit" ui-sref="home" ng-disabled="form.$invalid" ng-click="loginCtrl.setAccount()">Submit</button>
        </div>
      </form>


      <!-- <form name="myForm">
        <input name="myText" type="text" ng-model="mytext" required />
        <button ng-disabled="myForm.$invalid">Save</button>
      </form> -->

    </div>
  </div>
</div>
